body{
    margin: 0;
}
nav{
    background-color: aqua;
}
.flex-container{
    display: flex;
}
.left-item{
    flex: 20%;
    background-color: whitesmoke;
}
.right-item{
    flex: 80%;

}ul{
    list-style-type: none;
}
li{
    display: inline;
    margin-left: 40px;
}
a{
    text-decoration: none;
    font-size: 22px;
    color: red;
    font-weight: 700;
    transition: 3s all;
}
a:hover{
    background-color: wheat;
    color: darkblue;
}