body{
    margin: 0;
}
header{
    background-color: black;
}
.flex-container{
    display: flex;
}
.left-header
{
    flex:50%
}
.right-header{
    flex: 50%;
}
ul{
    list-style-type: none
}
header ul li{
    display: inline;
    margin-left: 40px;
}
header ul li a{
    color: white;
    text-decoration: none;
}
header ul li a:hover{
color: deeppink;
}
nav{
    background-color: whitesmoke;
    /* box-shadow: 0pc 10px lightcoral; */
}
.left-nav{
    flex: 20%;
}
.right-nav{
    flex: 80%;
}
nav ul li {
    display: inline;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: deeppink;
    font-size: 22px;
}
nav ul li a:hover{
    background-color: aqua;
    color: darkmagenta;
}